    @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
    * {
        margin: 0;
        padding: 0;
        font-family: 'Rubik', sans-serif;
        box-sizing: border-box;
        scroll-behavior: smooth;
        user-select: none;
    }
    
    body {
        background-color: rgb(0, 0, 0);
        color: #ffffff;
    }
    
    #container {
        width: 100%;
        height: 100vh;
    }
    
    .landing-container {
        width: 100%;
        height: 100%;
        background: -webkit-linear-gradient(to right, #004e92, #000428);
        background: linear-gradient(to right, #004e92, #000428);
        background-blend-mode: hard-light;
        z-index: 1;
    }
    
    .landing-container .wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    
    .landing-container .wrapper .background,
    .landing-container .wrapper .background img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
        opacity: 0.4;
        animation: background-stutter 3s ease-in-out infinite;
    }
    
    .landing-container .landing-main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        z-index: 5;
        position: relative;
        top: -85px;
    }
    
    .landing-container .landing-main .landing-image {
        position: relative;
        height: 20rem;
        width: 20rem;
        cursor: pointer;
        transition: all 0.4s ease;
        animation: levitate 4s ease infinite;
    }
    
    .landing-container .landing-main .landing-image:hover {
        height: 23rem;
        width: 23rem;
        cursor: pointer;
        animation: none;
    }
    
    .landing-container .landing-main .landing-title {
        font-family: 'Patua One', cursive;
        font-size: 2rem;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
    }
    
    .landing-container .landing-main .landing-title a {
        transition: all 0.2s ease-in-out;
        color: #ffffff;
        text-decoration: none;
    }
    
    .landing-container .landing-main .landing-title a:hover {
        transition: all 0.2s ease-in-out;
        color: #ecfd4e;
    }
    
    .landing-container .landing-main .landing-sub-title {
        font-family: 'Patua One', cursive;
        font-size: 0.85rem;
        margin: -5px;
        padding: 0;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
    }
    
    .landing-container .landing-main .landing-sub-title1 {
        font-family: 'Patua One', cursive;
        font-size: 0.7rem;
        text-transform: uppercase;
        color: rgb(173, 173, 173);
        margin-top: 13px;
    }
    
    .navigation-reactive {
        transition: all 0.3s ease-in-out;
    }
    
    .navigation-reactive .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        bottom: 18rem;
        z-index: 99999999;
        transition: all 1s ease-in-out;
    }
    
    .navigation-reactive .nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .navigation-reactive .nav ul li {
        display: inline;
    }
    
    .navigation-reactive .nav ul li a {
        border-radius: 5px;
        padding: 5px 9px;
        margin: 0 2px;
        background-color: rgb(255, 255, 255);
        color: rgb(28, 19, 82);
        transition: all 0.3s ease-in-out;
        text-decoration: none;
        width: 100%;
        height: 100%;
    }
    
    .navigation-reactive .nav ul li a:hover {
        background-color: rgb(231, 210, 18);
    }
    
    .navigation-reactive .nav ul li a.active {
        background-color: rgb(231, 210, 18);
    }
    
    .sticky-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 30px;
        width: 100%;
        z-index: 99999999;
        transition: all 1s ease-in-out;
    }
    
    .sticky-nav .nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .sticky-nav .nav ul li {
        display: inline;
    }
    
    .sticky-nav .nav ul li a {
        border-radius: 5px;
        padding: 5px 9px;
        margin: 0 2px;
        background-color: rgb(255, 255, 255);
        color: rgb(28, 19, 82);
        transition: all 0.3s ease-in-out;
        text-decoration: none;
        width: 100%;
        height: 100%;
    }
    
    .sticky-nav .nav ul li a:hover {
        background-color: rgb(231, 210, 18);
    }
    
    .sticky-nav .nav ul li a.active {
        background-color: rgb(231, 210, 18);
    }
    
    .about-container {
        width: 100%;
        height: 100%;
        background: #c31432;
        background: -webkit-linear-gradient(to right, #240b36, #c31432);
        background: linear-gradient(to right, #240b36, #c31432);
        background-blend-mode: hard-light;
        z-index: 1;
    }
    
    .about-container .wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    
    .about-container .wrapper .background,
    .about-container .wrapper .background img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
        opacity: 0.4;
        animation: background-stutter 3s ease-in-out infinite;
    }
    
    .about-container .about-main {
        display: flex;
        flex: 12;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        z-index: 5;
        position: relative;
    }
    
    .about-container .about-main .about-image {
        position: relative;
        height: 10rem;
        width: 10rem;
        cursor: pointer;
        transition: all 0.4s ease;
    }
    
    .about-container .about-main .image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .about-container .about-main .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        min-height: 15rem;
        width: 50rem;
        background-color: rgba(255, 255, 255, 0.466);
        border-radius: 8px;
        margin: 0px 15px;
        padding: 20px 40px;
        font-weight: 50;
        text-shadow: 1px 1px 5px #00000063;
    }
    
    .about-container .about-main .about-title {
        position: relative;
        font-size: 28px;
        font-family: 'Patua One', cursive;
        top: -10px;
        text-shadow: 5px 5px 5px #000000;
    }
    
    .skills-container {
        width: 100%;
        height: 100%;
        background: #00F260;
        background: -webkit-linear-gradient(to right, #0575E6, #00F260);
        background: linear-gradient(to right, #03407c, #035824);
        background-blend-mode: hard-light;
        z-index: 1;
    }
    
    .skills-container .wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    
    .skills-container .wrapper .background,
    .skills-container .wrapper .background img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
        opacity: 0.4;
        animation: background-stutter 3s ease-in-out infinite;
    }
    
    .skills-container .skills-main {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .skills-container .skills-main .skills-img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 65px;
    }
    
    .skills-container .skills-main .skills-title {
        position: relative;
        font-size: 20px;
        font-family: 'Patua One', cursive;
        left: -3px;
        top: -10px;
        text-shadow: 5px 5px 5px #000000;
    }
    
    .skills-container .skills-main .skills-img img {
        height: 6rem;
        width: 6rem;
    }
    
    .skills-container .skills-card {
        background-color: #ffffff94;
        margin-top: 80px;
        padding: 50px 0 15px 15px;
        height: 75%;
        width: 95%;
        overflow-y: scroll;
        border-radius: 5px;
        color: rgb(49, 49, 49);
        text-align: center;
    }
    
    .skill-set {
        margin: 18px 0;
        border-bottom: 1px solid rgba(112, 112, 112, 0.404);
    }
    
    .skills {
        display: flex;
        flex-wrap: wrap;
        padding-top: 8px;
        justify-content: center;
        align-items: center;
    }
    
    .skills .skill {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5px 5px;
    }
    
    .skills .skill img {
        height: 3rem;
        width: 3rem;
        background: rgb(255, 255, 255);
        padding: 5px;
        border-radius: 5px;
        transition: all 0.1s ease-in;
    }
    
    .skills .skill:hover img {
        height: 3.2rem;
        width: 3.2rem;
    }
    
    .skills .skill span {
        width: 3rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 5px;
        font-size: 11px;
        position: relative;
        left: 0;
        text-align: center;
    }
    
    .contact-container {
        width: 100%;
        height: 100%;
        background: #c31432;
        background: -webkit-linear-gradient(to right, #240b36, #c31432);
        background: linear-gradient(to right, #240b36, #c31432);
        background-blend-mode: hard-light;
        z-index: 1;
    }
    
    .contact-container .wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    
    .contact-container .wrapper .background,
    .contact-container .wrapper .background img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
        opacity: 0.4;
        animation: background-stutter 3s ease-in-out infinite;
    }
    
    .contact-container .contact-main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        z-index: 5;
        position: relative;
    }
    
    .contact-container .contact-main .card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        min-height: 30%;
        width: 70%;
        background-color: rgba(255, 255, 255, 0.63);
        border-radius: 5px;
        padding: 0 30px;
    }
    
    .contact-container .contact-main .card .contact-logo img {
        width: 13rem;
    }
    
    .contact-container .contact-main {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .contact-container .contact-main .contact-img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 80px;
    }
    
    .contact-container .contact-main .contact-title {
        position: relative;
        font-size: 25px;
        font-family: 'Patua One', cursive;
        left: -3px;
        top: -28px;
        text-shadow: 5px 5px 5px #000000;
    }
    
    .contact-container .contact-main .contact-img img {
        height: 8rem;
        width: 8rem;
    }
    
    @keyframes levitate {
        0% {
            top: 0px;
        }
        50% {
            filter: drop-shadow(0 0 3px rgba(223, 223, 223, 0.507));
            top: 4px;
        }
        100% {
            top: 0px;
        }
    }
    
    @keyframes background-stutter {
        0% {
            opacity: 0.4;
        }
        50% {
            opacity: 0.6;
        }
        100% {
            opacity: 0.4;
        }
    }
    
    @keyframes sweep-hue {
        from {
            filter: hue-rotate(0);
            -webkit-filter: hue-rotate(0);
            -moz-filter: hue-rotate(0);
            -ms-filter: hue-rotate(0);
        }
        to {
            -webkit-filter: hue-rotate(360deg);
            -moz-filter: hue-rotate(360deg);
            -ms-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
        }
    }


    @media only screen and (max-device-width: 767px) {
        .navigation-reactive .nav {
            bottom: 20%;
        }
        .navigation-reactive .nav ul li a {
            font-size: 0.8rem;
        }
        .sticky-nav .nav ul li a {
            font-size: 0.8rem;
        }
        .about-container .about-main .card {
            bottom: 20%;
            font-size: 13px;
        }
        .about-container .about-main {
            bottom: -2rem;
        }
        .about-container .about-main .about-image {
            height: 7rem;
            width: 7rem;
        }
        .about-container .about-main .about-title {
           font-size: 18px;
        }
        .contact-container .contact-main .card {
            position: relative;
            width: 90%;
            height: 45%;
            bottom: -6.5rem;
            padding: 10px 0;
        }
        .contact-container .contact-main {
            position: relative;
            bottom: 2rem;
        }
        .contact-container .contact-main .contact-img img {
            width: 12rem;
            height: 12rem;
        }
        .contact-container .contact-main .contact-logo img {
            width: 10rem;
        }
       }



    /* Smartphones (portrait and landscape) ----------- */
    
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        /* .navigation-reactive .nav {
            bottom: 250px;
        } */
        
    }
    /* Smartphones (landscape) ----------- */
    
    @media only screen and (min-width: 321px) {
        /* Styles */
    }
    /* Smartphones (portrait) ----------- */
    
    @media only screen and (max-width: 320px) {
        /* Styles */
    }
    /* iPads (portrait and landscape) ----------- */
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        /* Styles */
    }
    /* iPads (landscape) ----------- */
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        /* Styles */
    }
    /* iPads (portrait) ----------- */
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        /* Styles */
    }
    /**********
    iPad 3
    **********/
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
        /* Styles */
    }
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
        /* Styles */
    }
    /* Desktops and laptops ----------- */
    
    @media only screen and (min-width: 1224px) {
        /* Styles */
    }
    /* Large screens ----------- */
    
    @media only screen and (min-width: 1824px) {
        /* Styles */
    }
    /* iPhone 4 ----------- */
    
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
        /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
        /* Styles */
    }
    /* iPhone 5 ----------- */
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
        /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
        .navigation-reactive .nav {
            top: 18rem;
        }
        .navigation-reactive .nav ul li a {
            font-size: 0.6rem;
        }
        .sticky-nav .nav ul li a {
            font-size: 0.6rem;
        }
        .landing-container .landing-main .landing-image {
            width: 13rem;
            height: 13rem;
        }
        .landing-container .landing-main .landing-image:hover {
            width: 15rem;
            height: 15rem;
        }
        .about-container .about-main .card {
            bottom: 4.5rem;
            min-height: 50%;
            font-size: 11px;
        }
        .about-container .about-main {
            bottom: -2rem;
        }
        .contact-container .contact-main .card {
            position: relative;
            width: 90%;
            height: 50%;
            bottom: -6.5rem;
            padding: 20px 0;
        }
        .contact-container .contact-main {
            position: relative;
            bottom: 2rem;
        }
        .contact-container .contact-main .contact-img img {
            width: 10rem;
            height: 10rem;
        }
        .contact-container .contact-main .contact-logo img {
            width: 5rem;
        }
    }
    /* iPhone 6, 7, 8 ----------- */
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
        /* Styles */
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
        /* Styles */
    }
    /* iPhone 6+, 7+, 8+ ----------- */
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
        /* Styles */
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
        /* Styles */
    }
    /* iPhone X ----------- */
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
        /* Styles */
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
        /* Styles */
    }
    /* iPhone XS Max, XR ----------- */
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
        /* Styles */
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
        /* Styles */
    }
    /* Samsung Galaxy S3 ----------- */
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
        /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
        /* Styles */
    }
    /* Samsung Galaxy S4 ----------- */
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
        /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
        /* Styles */
    }
    /* Samsung Galaxy S5 ----------- */
    
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
        /* Styles */
    }
    
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
        /* Styles */
    }